REACT_APP_USE_KR_API=false
REACT_APP_DATA_GO_KR_SERVICE_KEY=PUT_YOUR_DATA_GO_KR_DECODING_KEY_HERE
REACT_APP_DATA_GO_KR_API_URL=/api/kr-covid
REACT_APP_USE_WHO_GLOBAL=true
REACT_APP_WHO_GLOBAL_CSV_URL=/api/who-global-data.csv
